body.white{
  background-color: white;
  color:black;
}
body.black{
  background-color: black;
  color:white;
}
#control{
  float: right;
}
header{
  border-bottom:1px solid gray;
  padding:20px;
}
nav {
  border-right:1px solid gray;
  width:200px;
  height:600px;
  float:left;
}
nav ol{
  list-style:none;
}
article{
  float:left;
  padding: 30px;
}
body.black a{
  text-decoration:none;
  color: white;
}
body.white a{
  text-decoration: none;
  color:black;
}
a{
  text-decoration: none;
  color: black;
}
body.black a:hover{
  color:blue;
}
body.white a:hover{
  color:blue;
}
a:hover{
  color:blue;
}
